//Devices
$phablet: 768px;
$tablet: 1024px;
$laptop: 1280px;

//Colors
$peach: rgb(249,230,205);
$orange: rgb(230,177,147);
$black: #636363;

//Fonts
$font-head: "LucidaSans";
$font-body: "Microsoft_New_Tai";

//constants
$form-height: 36px;
