//Devices
$phablet: 768px;
$tablet: 1024px;
$laptop: 1280px;

//Colors
$peach: rgb(197, 177, 216);
$orange: rgb(156, 147, 230);
$black: #636363;

//Fonts
$font-head: "LucidaSans";
$font-body: "Microsoft_New_Tai";

//constants
$form-height: 36px;
